<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <script src="https://kit.fontawesome.com/a44b4d40da.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class = "wrapper">
        <main class = "section">
            <h1 class = "heading">TODO App</h1>

            <form action="/create-task" method="post" autocomplete="off" id="create-form">
                <div class = 'field'>
                    <div id = "description" class="field-section">
                        <div class = "field-name">Description</div>
                        <input type="text" name="description" placeholder="What do you need to do?" required>
                    </div>
                </div>
                
                <div id = "other-details" class = "field">
                    <div id = "category" class="field-section">
                        <div class = "field-name">Category</div>
                        <select name="category">
                            <option disabled selected> Select your option </option>
                            <% for (let i of category_option) { %>
                                <option value= "<%= i %>"> <%= i %> </option>
                            <% } %>
                        </select> 
                    </div>
                    <div id="date" class="field-section">
                        <div class="field-name">Due Date</div>
                        <input type="date" name="date">
                    </div>
                </div>
                
                <div id = "add-btn" class = "field-section">         
                    <button type="submit" class="btn">
                        <i class="fas fa-plus"></i>
                        <span>ADD TASK</span>
                    </button>
                </div>
            </form>
            <form action="/delete-task" method="post" id="delete-form"> 
                <% for(let i of task_list) {%>
                <div class="field">
                    <div class = "field-section task-list">
                        <input type="checkbox" value="<%= i._id %>" name="task">
                        <div class="desc-and-date">
                            <label for="<%= i._id %>"><%= i.description %></label>
                            <% if(i.date) { %>
                                <div class="date"> 
                                    <i class="fas fa-calendar-week"></i>
                                    <%= moment(i.date).format('Do MMMM, YYYY') %>
                                </div>
                            <% } %>
                        </div>
                        <div class="category">
                            <%= i.category %>
                        </div>
                    </div>
                </div>
                <% } %>

                <button type="submit" class="btn">
                    <i class="fas fa-trash-alt"></i>
                    <span>DELETE TASKS</span>
                </button>
            </form>
        </main>
    </div>
    
    <script src="/assets/js/home.js"></script>
</body>
</html>